/* Los estilos de tu proyecto */

/* Seteado */
*{
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* General */
footer li a, p, h2{
    color: #fff;
}
h2{
    font-weight: bold;
}
li{
    font-weight: bold;
}

.fa{
    color: #fff;
    margin-right: 1em;
    margin-bottom: 2em;
}
.text-align{
    text-align: center;
}
.bold{
    font-weight: bold;
    color:#fff;
} 
.title-big{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}
.title-sm{
    font-size: 1.5em;
}

.text{
    font-size: 1.4em;
}
.btn{
    border: none;
    font-weight: bold;
    background-color: #fff;
}
/* Background */
.cover{
    background-size: cover;
}
.one{
    background-image: url("../assets/images/taxi.jpg"); 
    height: 90vh;
    background-position: bottom;
    background-repeat: no-repeat;
}
.two{
    background-color: #F7B617; 
    height: 100vh; 
    padding: 2.7em 0 2.7em 0;
    height: max-content;
}
.three{
    background-image: url(../assets/images/conduce.jpg);
    height: 100vh;
    background-position: center 50%;
}
.labcar{
    height: 20px;   
}
/* Main Section */
.info-box{
    background-color: #f7b617; 
    transform: translateY(60%);
    width: 75vw;
    padding: 2em;
} 
.info-desktop{
    max-width: 70vh;
    background-color: #f7b617; 
    padding: 2em 3.5em 2em 2em;
    display: flex;
    transform: translateY(25%) 
} 
.position{
    display: flex;
    justify-content: flex-end;
}
.yellow-btn{
    background: #f7b617;
    border: none;
} 

input::placeholder {
    color: #fff;;
  }
footer{
    background: #2B2B2B;
    padding-top: 1em;
}

/* Section app */

.black-box {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    padding: 20% 5%;
}
.box-app {
    border: 1px solid #fff;
    height: 80vh;
    margin-top: 3em;
    padding: 1em;
}
.app-logo{
    margin-bottom: 2em;
}

.media{
    border: 1px solid #fff;
    padding: 1em;
}
.nav-style{
    background-color:#fff;
    border: none;
    outline: none;   
}
.line::after,.line::before{
    content:'';
    width: 35%;
    height:.1em;
    background-color:#fff;
    display: inline-block;
    transform: translateY(-240%);
    margin-right: .5em;
    margin-left: .5em;
}
.box-desktop{
    border: 1px solid #fff;
    border-left: none;
    height: 80vh;
    max-height: 80%;
    max-width: 80vw;
    padding: 2em;
}
/* Section rate */
.map{
    width: 50vh;
    height: 40vh;
    padding: 1em;
    outline: 1px solid white;
}
.rounded{
    border-radius: 5px;
    width: 80%;
    background: none;    
    padding: 7px;
    border: 1px solid white;
    margin-left: 1em;
    color: #fff;   
}
/* Footer */
hr {
    height: 1px;
    color: #fff;
    height: 1px;
}
/* modal login */

.form-login {
    background-color: #F5F5F5;
    padding: 1em;
    margin: 2em 6em 6em 6em;
    border-radius: 5px;
}
.modal-login{
    background-color: #08AC9D;
}
.avatar-img{
    width: 25%;
    transform: translateX(140%)
}
.input-group{
    margin-bottom: 2em;
}

/* modal register */
.btn-register{
    background-color: black;
    color: #fff;
}
.btn-register:hover{
    color:#f7b617;
}
/* modal driver */
#modal-driver p{
    color: #000;
    margin: .5em 0;  
}
.modal-background{
    background-color: #A9A9A9;
    font-weight: bold;  
}
.info-modal {
    color: #6b6b6b;
    font-weight: 400;
    font-size: 0.9em;
    margin-top: 1rem;
    margin-bottom: 0;
}
.modal-style{
    border-bottom: none;
}
.form-control {
    margin-bottom: 1em;
}
.info-email {
    font-size: 0.9em;
    padding-top: 0;    
}
.btn-send{
    margin: 1em 0;
    background-color: #5BC0DE;
}
.form-register{
    padding: 1.5em;
}
.black{
    color: #000;
    margin-top: 1em;
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {
    /* MAIN */
    /* DRIVER */
    .black-box{
        max-width: max-content;
    }
    /* DRIVER-END */

    .map{
        width: 70vh;
        height: 70vh;
        padding: 1em;
        outline: 1px solid white;
    }
    /* RATE-END*/
    
    /* FOOTER */

    .footer-icons {
        margin-top: 19em;
    }
    .app-group{
        margin-top: 10em;
    }
}